
.heading
{
width: 100%;
text-align: left;
font-family: 'Luckiest Guy', cursive;
}
.heading h3{
    display: inline;
    font-family: 'Luckiest Guy', cursive;
}

.heading button{
    float: right;
    border: 1px solid white;
    font-family: 'Luckiest Guy', cursive;
}

#start ,#status, #restart
{
font-size: 22px;
font-family: 'Luckiest Guy', cursive;
}

.modal-dialog
{
    width: 70%;
    font-family: 'Luckiest Guy', cursive;
}
.modal-body
{
    text-align: left;
    font-size: 20px;
    font-family: 'Luckiest Guy', cursive;
}
h4
{
   background-color: grey;
   color:white;
   line-height: 2;
   font-family: 'Luckiest Guy', cursive;
}
canvas 
  {
      border:3px solid white;
      border-radius: 20px;
      box-shadow:  5px 5px 5px white;
  }
.copy_right_footer{
    bottom: 0;
    background-color: grey;
    color: black;
    position: fixed;
    width: 100%;
    height: 50px;
    float: none;
    font-family: 'Luckiest Guy', cursive;
}